#check
{
    font-size:30px;
}
    
.intro-lead-in {
    text-align: right;
}
.intro-heading{
    text-align: right;
    color: #fed136
}
header
{
    background-color: rgba(0,0,0,0.65);
}

.picture 
    border: 1px solid black;
}